*{
    box-sizing: border-box;
    margin: 0;
    font-family: "poppins", sans-serif;
}
.section{
    margin-top: 25px;
    width: auto;
    height: fit-content;
}
hr{
    background-color: rgb(205, 205, 205);
    margin-left: 20px;
    margin-right: 20px;
    
}